[submodule "hugo_theme_pickles"]
	path = hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
